<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cornifex.killteam" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kill Team</name>
    <description>
        Round, Victory Point, and Command Point tracker for Warhammer 40K Kill Team.
    </description>
    <author email="justin@cornifex.com" href="http://cornifex.com">
        Justin Cornell
    </author>
    <content src="index.html" />
    <access origin="*" />`
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <icon src="icons/icon_512x512.png" />
</widget>


