<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cornifex.killteam" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kill Team</name>
    <description>
        Round, Victory Point, and Command Point tracker for Warhammer 40K Kill Team.
    </description>
    <author email="justin@cornifex.com" href="http://cornifex.com">
        Justin Cornell
    </author>
    <content src="index.html" />
    <access origin="*" />`
    <preference name="fullscreen" value="true" />
    <preferemce name="orientation" value="portrait" />
</widget>


